.link {
  color: #8585ad;
  font-size: 20px;
  text-decoration: none;
}
.link:hover {
  color: #f2f2f3;
}
.sad {
  font-size: 120px;
}
.smile {
  color: #f2f2f3;
  font-size: 120px;
  line-height: 140px;
}
h1 {
  margin-bottom: 20px;
}
.page404 {
  height: 50vh;
  display: flex;
  color: #8585ad;
  margin-top: auto;
  align-items: center;
  margin-bottom: auto;
  flex-direction: column;
}
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 88px);
}
