h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  font-family: "Jet Brains Mono";
}
.item_group {
  display: grid;
  row-gap: 32px;
  column-gap: 24px;
  margin-top: 24px;
  margin-right: 8px;
  margin-left: 16px;
  margin-bottom: 40px;
  grid-auto-rows: 208px;
  grid-template-columns: 272px 272px;
}
