.item {
  row-gap: 80px;
  display: flex;
  list-style: none;
  column-gap: 80px;
  margin-left: 32px;
  align-items: center;
}
.element {
  background-color: #1c1c21;
}
.element > span * {
  display: none;
}
.element > span span:nth-child(2) {
  margin: 0;
  display: block;
  line-height: 45px;
  text-align: center;
}
