*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Iceland";
  src: url("./fonts/Iceland-Regular.woff2") format("woff");
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Bold.woff2") format("woff2");
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "JetBrains Mono";
  src: url("./fonts/JetBrainsMono-Regular.woff2") format("woff2");
}
body {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  background: #131316;
  font-family: "JetBrains Mono", monospace;
}
